body{
  height:900px;
 


}
@media only screen and (max-width: 700px){
 
h1{
  color:#FA794F;
  font-family: 'Poppins', sans-serif;
  font-size:25pt;
  text-align:center;
  margin-top:-1850px;
  

}
p{
    font-family: 'Poppins', sans-serif;

}



.trait{
  width:100%;
  background-color:#FA794F;

  }

h2{
  color:#FA794F;
  font-family: 'Poppins', sans-serif;
  font-size:15pt;

  }

p2{
  font-size:13pt;
  font-family: 'Poppins', sans-serif;
  }

p3{
  font-family: 'Poppins', sans-serif;
  font-size:13pt;
   color:#FA794F;

  }
.fa, .fas{
  color:#FA794F;
  font-size:60pt;
  margin-top: 100px;
  margin-left:120px;
  }

p4{

  font-family: 'Poppins', sans-serif;
  font-size:13pt;
  color:#FA794F;
  display: table-cell;
  vertical-align: middle
  /* text-align:center; */
  
    

  }

article{

  height:700px;
  }

p5{

  font-family: 'Poppins', sans-serif;
  font-size:13pt;
  color:#FA794F;
  margin-left:90px;
    

  }
p6{


  font-family: 'Poppins', sans-serif;
  font-size:13pt;
  color:#FA794F;
  margin-left:20px;

  }
  .lin .fab, .far {

    color:#FA794F;
  font-size:60pt;
  margin-top: 100px;
  margin-left:120px;
 
         }
  .lin a{
    margin-left:85px;
  }

.fond img{

  margin:none;
  }

  aside{
    margin-top:1890px;
    }


h4{
  color:#FA794F;
  font-family: 'Poppins', sans-serif;
  font-size:15pt;


}

.lol{
margin-top:300px;


}
.lal{

  margin-top:-1300px;
}
}


@media only screen and (min-width: 900px){
body{
  height:1200px;
      
      
      }
h1{
  color:#FA794F;
  font-family: 'Poppins', sans-serif;
  font-size:45pt;
  margin-left: 2%;
 margin-top:10px;
      }
 h2{
   color:#FA794F;
   font-family: 'Poppins', sans-serif;
   font-size:20pt;
    
      }
 p{
  font-family: 'Poppins', sans-serif;
   font-size: 20pt;
    
    }
p2{
   font-size:13pt;
   font-family: 'Poppins', sans-serif;
      
        }
p3{
  font-family: 'Poppins', sans-serif;
  font-size:13pt;
  color:#FA794F;
      
        }
 p4{

  font-family: 'Poppins', sans-serif;
   font-size:15pt;
   color:white;
          
   margin-top:50px;
          
          
          
         
         
          
      
        }
p5{

   font-family: 'Poppins', sans-serif;
   font-size:15pt;
   color:white;
   margin-top:50px;
          

          
        
          
      
        }
p6{
      
      
  font-family: 'Poppins', sans-serif;
  font-size:13pt;
  color:white;
        
         

          
      
        }
        
aside{
  height:100%;
  background-color:#FA794F;
  width: 30%;
  padding-left: .5rem;
  margin-left: .5rem;
  

  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color:white;

        }
       
       
       
/* header{

  background-color:#FA794F;
    } */
footer{

  height:500px;
   background-color:#FA794F; 
    }
.fa, .fas{
  color:white;
  font-size:40pt;
  margin-top: 170px;
  margin-left:120px;
         
        }
.phone .fa, .fas{

  color:white;
   font-size:20pt;
         
   margin-left:-0px;

        }
.mail .fa, .fas{

  color:white;
  font-size:20pt;
  margin-top:-1px;
  /* margin-left:100px; */

        }
        
.num .fa, .fas{

   color:white;
   font-size:20pt;
   margin-top:60px;
   /* margin-left:100px; */

        }
.lin .fab, .far {

   color:white;
   font-size:20pt;
   margin-top:60px;
   margin-left:10px;

        }
 .lin a{
   margin-left:10px;
          


        }
 p4{
  margin-left:10px;
   margin-top:-80px;
   font-size:10pt;

        }
p6{
   margin-left:10px;
   font-size:10pt;
        }
p5{
  margin-left:10px;
  font-size:10pt;

}
h4{
  
  color:white;
  font-family: 'Poppins', sans-serif;
  font-size:20pt;

}
   
  }